langchain
langchain-openai
python-dotenv
langchain_community
langchain_core
streamlit
openai
langchain-groq
chromadb
langchain-chroma
langchain-huggingface
arxiv
wikipedia
pathlib
validators==0.28.1
youtube_transcript_api
unstructured
pytube
numexpr
huggingface_hub
gradio
duckduckgo-search
